<app-nav></app-nav>
<img class="historieta" src="../../../../assets/Info-1.png" alt="">
<img class="historieta" src="../../../../assets/Info-2.png" alt="">

<br>

<h2>ARTÍCULO 53. FALTAS CALIFICADAS COMO GRAVÍSIMAS.</h2>
<p>Se consideran gravísimas y se constituyen en causal de cancelación de la matrícula profesional, sin requerir la calificación que de ellas haga el Consejo respectivo, las siguientes faltas:</p>

<ul>
    <li><p>Derivar, de manera directa o por interpuesta persona, indebido o fraudulento provecho patrimonial en ejercicio de la profesión, con consecuencias graves para la parte afectada</p></li>
    <li><p>Obstaculizar, en forma grave, las investigaciones que realice el Consejo Profesional de Ingeniería respectivo</p></li>
    <li><p>El abandono injustificado de los encargos o compromisos profesionales, cuando con tal conducta causen grave detrimento al patrimonio económico del cliente o se afecte, de la misma forma, el patrimonio público</p></li>
    <li><p>La utilización fraudulenta de las hojas de vida de sus colegas para participar en concursos, licitaciones públicas, lo mismo que para suscribir los respectivos contratos</p></li>
    <li><p>Incurrir en algún delito que atente contra sus clientes, colegas o autoridades de la República, siempre y cuando la conducta punible comprenda el ejercicio de la ingeniería o de alguna de sus profesiones auxiliares</p></li>
</ul>

<p>Cualquier violación gravísima, según el criterio del Consejo respectivo, del régimen de deberes, obligaciones y prohibiciones que establecen el Código Ética y la presente ley. <a href="https://www.copnia.gov.co/nuestra-entidad/normatividad/ley-842-de-2003">https://www.copnia.gov.co/nuestra-entidad/normatividad/ley-842-de-2003</a></p>


<h2>Requisitos tarjeta profesional.</h2>

<ul>
    <li>Título universitario: Debes contar con un título profesional en Ingeniería de Sistemas, otorgado por una universidad reconocida por el Ministerio de Educación Nacional de Colombia.</li>
    <li>Registro del título: Debes tener tu título de ingeniero de sistemas registrado y reconocido por el Ministerio de Educación Nacional de Colombia.</li>
    <li>Experiencia profesional: Es necesario contar con experiencia laboral en el campo de la ingeniería de sistemas. El tiempo de experiencia requerido puede variar según los lineamientos del CNI.</li>
    <li>
        
        Documentos personales: Debes presentar los siguientes documentos personales:

        <ul>
            <li>Fotocopia de tu cédula de ciudadanía o documento de identificación.</li>
            <li>Fotocopia del diploma de grado de ingeniería de sistemas.</li>
            <li>Certificados que respalden tu experiencia laboral en ingeniería de sistemas.</li>
        </ul>


    </li>
</ul>

<h2>Pasos a seguir</h2>

<ul>
    <li>Reunir los documentos: Obtén copias de los documentos mencionados anteriormente, asegurándote de tenerlos completos y actualizados.</li>
    <li>Pago de la matrícula: Realiza el pago de la matrícula correspondiente al proceso de obtención de la tarjeta profesional. El valor puede variar y debes verificarlo en la página web del CNI.</li>
    <li>Solicitud: Llena la solicitud de obtención de la tarjeta profesional, la cual puedes encontrar en el sitio web del CNI. Completa todos los campos requeridos con la información solicitada.</li>
    <li>Presentación de documentos: Reúne todos los documentos mencionados anteriormente y preséntalos en la sede del CNI, o según las instrucciones especificadas en la convocatoria.</li>
    <li>Evaluación y revisión: El CNI evaluará tu solicitud y verificará los documentos presentados. Pueden llevar a cabo entrevistas o pruebas para verificar tus conocimientos y experiencia.</li>
    <li>Aprobación y expedición: Si tu solicitud es aprobada, el CNI expedirá tu tarjeta profesional de ingeniero de sistemas. Este documento certifica tu competencia y te habilita para ejercer la profesión en Colombia.</li>
</ul>

<p>El Consejo Profesional Nacional de Ingeniería – COPNIA, creado mediante la Ley 94 de 1937, es la entidad pública que tiene la función de controlar, inspeccionar y vigilar el ejercicio de la ingeniería, de sus profesiones afines y de sus profesiones auxiliares en general, en el territorio nacional. <a href="https://www.copnia.gov.co/nuestra-entidad/quienes-somos">https://www.copnia.gov.co/nuestra-entidad/quienes-somos</a> </p>